* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", "sans-serif"
}

li {
    display: inline-block;

}

nav {
    display: inline-block;
}

header {
    margin: 30px 0px 144px 70px;
}

a {
    font-weight: 600;
    color: aliceblue;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin: 0 20px 0 0;
    cursor: pointer;
    color: rgb(80, 68, 68);
    transition: opacity 0, 2s;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.boton-login {
    width: 130px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(143, 207, 137);
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    transition: background-color 0.5s;
}

.boton-login:hover {
    opacity: o.3;
    background-color: rgb(178, 212, 174);
}


.logo {
    width: 40%;
    vertical-align: middle;
}

.texto {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

main {
    text-align: center;
}

.Explore {
    width: 150px;
    height: 37px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
}

.Explore:hover {

    opacity: 0.8;
}

.titulo {

    font-size: 30px;
    font-weight: 800;
    color: rgb(75, 60, 60);
}

.subtitulo {
    color: rgb(75, 60, 60);
    line-height: 1.5;

}

.paragrafo {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(71, 64, 64);
    text-align: justify;
    margin: 20px 0 40px 0;
    max-width: 500px;
}